


<div class="mx-auto text-center" style="width: 100%">
  <h1>
    <%= @travel.title %>
  </h1>
  <p>
    <%= @travel.description %>
  </p>


  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" style="margin-top: 50px">
    <%= link_to 'Back to homepage', travels_path %>
  </button>
  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" style="margin-top: 50px">
    <%= link_to 'Add a booking', new_travel_booking_path(@travel) %>
  </button>
</div>
