
<%#= simple_form_for [travel, booking] do |f| %>
  <%#= f.input :note %>
  <%#= f.input :date %>
  <%#= f.submit "BOOKING", class: "btn btn-primary" %>
<%# end %>

<div class="d-flex justify-content-around" style="width: 100%">
  <%= simple_form_for [travel, booking] do |f| %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: 'Click and choose a liftoff date' %>
    <%= f.text_area :note, :style => "line-height: 50px; width: 400px", placeholder: ' Put your comment here'  %>
    <br>
    <br>
    <%= f.submit "Book", class: "btn btn-primary", :style => "background-color: #4e00b0" %>
    <br>
    <br>
  <% end %>
</div>

