<h1>Booking</h1>
<p>Write a demand about your booking: <%= @booking.note %></p>
<p>When do you want to go beyond : <%= @booking.date %></p>

<%= link_to "Index", bookings_path, class: "btn btn-primary"%>
<%= link_to "Add note", new_booking_review_path(@booking), class: "btn btn-primary" %>