<div>

</div>
<div class="mx-auto text-center" style="width: 100%">

<h1><%= @booking.date %></h1>
<p><%= @booking.note %></p>
<h6><%= @booking.travel.title %></h6>
<p><%= @booking.travel.description %></p>
