<header class="header header--desktop">
  <div class="header-bottom">
    <div class="header-bottom-content">
      <div class ="header-left">
        <nav class ="header-group" aria-label="Header menu principal">
          <div class="dropdown">
            <button class="dropbtn"><%= image_tag "dropdownxtravel.png", :class => "nav_btn_drop"%></button>
              <div class="dropdown-content">
                <a href="https://xtravel.herokuapp.com/travels">Travels</a>
                <a href="#">Spaceships</a>
                <a href="#">My bookings</a>
              </div>
            </div>
        </nav>
      </div>
    <div class="header-center">
      <a class="logo" aria-label="Link to Homepage" href="http://xtravel.herokuapp.com/">
        <%= image_tag "logoxtravel.png", :class => "nav_btn_home" %>
      </a>
    </div>
      <div class="header-right">
        <div class="header-group">
          <%= link_to image_tag('loginxtravel.png'), user_session_path%>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
