<div class="banner">
  <%= image_tag "banniereavecmessage.png"%>
</div>

<div class="container">
    <a href="https://xtravel.herokuapp.com/travels"><div class="card-category">
    <%= image_tag "Planetscategoryimage.png"%>
    <div class="card-trip-infos">
      <div>
        <h2 class="title">TRAVELS</h2>
      </div>
    </div>
  </div></a>


    <a href="#"><div class="card-category">
    <%= image_tag "spaceshipscategoryimage.png"%>
    <div class="card-trip-infos">
      <div>
        <h2 class="title">SPACESHIPS</h2>
      </div>
    </div>
  </div></a>


    <a href="#"><div class="card-category">
    <%= image_tag "tripscategoryimage.png"%>
    <div class="card-trip-infos">
      <div>
        <h2 class="title">TRIPS</h2>
      </div>
    </div>
  </div></a>

</div>
