<div class="banner" style="background-image: url(https://res.cloudinary.com/vincentpacheco/image/upload/v1597939315/espace_npnodb.jpg);">
  <div class="content">
     <h1><strong>Welcome aboard.</strong></h1>
    <p>Send yourself to the infinite and beyond.</p>
    <%= link_to "BOARDING", travels_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <% @travels.each do |travel| %>
    <%= link_to travel_path(travel) do %>
      <div class="card-category">
      
        <% if travel.photo.attached? %>
          <%= cl_image_tag travel.photo.key %>
        <% end %>
        <div class="card-trip-infos">
          <div>
           <h2 class="title"><%= travel.title %></h2>
          </div>
        </div>
      </div>
     <% end %>
  <% end %>
</div>

<div class="homepara">
<p>Experiment our brand new services and enjoy the <strong>safest</strong> and <strong>fastest</strong> way to travel accross the galaxies! Hundreds of spaceships and destinations are waiting for you!</p>
</div>
