.container {
  display: flex;
  margin-top: 30px;
  margin: auto;
  padding: 0px;
  justify-content: space-around;

}

.card-category {
  border: solid;
  border-color: #2C40AE;
  border-width: thin;
  border-radius: 9px;
  text-align: center;
  position: center;

}

.card-category img {
  width: 350px;
  height: 215px;
}

.title :hover {
  color: black;
  opacity: 0.8;
}
