.container {
  display: flex;
  margin-top: 30px;
  margin: auto;
  padding: 0px;
  justify-content: space-around;

}

.card-category {
  border: solid;
  border-color: #2C40AE;
  border-width: thin;
  border-radius: 9px;
  text-align: center;
  position: center;

}

.card-category img {
  width: 350px;
  height: 215px;
}

.title :hover {
  color: black;
  opacity: 0.8;
}

.booking-card {
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba(8, 150, 253, 1);
  padding: 10px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;

}

div.card-trip-infos {
  min-width: 400px;
}
