.footer {
  border-top: solid #2C40AE;
  // margin-top: 35px;
  border-width: thin;
  color: #2C40AE;
  display: flex;
  justify-content: center;
  height: $footerheight;
}

.footer h3 {
  margin: 5px;
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
}

.fixfooter {
  min-height: calc(100vh - #{$navbarheight} - #{$footerheight})
}
